<!DOCTYPE html>
<HTML>
   <HEAD>
	  <meta charset="UTF-8">
    <TITLE>IMRD - The best movie rating sate</TITLE>
	  <link href="static/css/bootstrap.min.css" rel="stylesheet">
	  <link href="static/css/starter-template.css" rel="stylesheet">
   </HEAD>
   <body>
