<% include header %>
<% include menu %>

    <main role="main" class="container"></main>

      <div class="starter-template">
        <h1>Toplist</h1>

        <!-- <%= JSON.stringify(concat); %> <br/> -->

        <% include listmovieratings %>

    </main><!-- /.container -->

<% include footer.ejs %>