<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">IMRB Movies</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!-- TODO SET CORRECT ACTIVE MENU -->
    <div class="navbar-collapse collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Toplist </a>
        </li>
<% if (typeof user === 'undefined') { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log-in</a>
        </li>
<% } else {%>
      <li class="nav-item active">
        <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
      </li>
      <!-- TODO LOGOUT ROUTE -->
      <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout <span class="sr-only"></span></a>
      </li>
<% } %>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
        <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text" name="movieName">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>