<% include header %>

<div class="container">
    
    <% include errorlog %>
    
    <form class="form-signin" method="POST" action="/rate/mod/<%= found_movie.movieId %>">
        <h2 class="form-signin-heading">Provide your rating</h2>
        <label for="inputRating" class="sr-only">Rating:</label>
        <!-- TODO ADD EXISTING RATING -->
        <% var rating = found_movie.rating; if(rating === undefined) rating = "0-10"; %>
        <input id="inputRating" name="inputRating" class="form-control" 
            placeholder="<%= rating %>"
        required="" autofocus="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" 
        autocomplete="off" type="number" min="0" max="10">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Modify</button>
        <a href="/rate/del/<%= found_movie.movieId %>" class="btn btn-lg btn-primary btn-block">Delete</a>
    </form>

</div> <!-- /container -->

<% include footer.ejs %>