<% include header %>
<% include menu %>

    <main role="main" class="container"></main>

      <div class="starter-template">
        <h1>Toplist</h1>


        <% include listmovieratings %>

    </main><!-- /.container -->

<% include footer.ejs %>